
# Images And Sample Data
*.png
*.pdf
*.csv
*.jpg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCODE
.vscode/
*.code-workspace

# misc
__pycache__
.ipynb_checkpoints
coris_db_subsets